.git
.gitignore
.env
venv
__pycache__
*.pyc
test_db.sqlite3
.idea
.pytest_cache
.coverage
htmlcov
.github
README.md
.env.sample
*.log
*.pid
*.seed
*.pid.lock
*.db
*.sqlite3
media/
staticfiles/
Dockerfile
docker-compose.yml
.dockerignore
